In [35]:
import os 
import pandas as pd
import numpy as np

In [36]:
def f1(x, y):
    return 1

In [37]:
def f2(x, y):
    return 2 * x / (1 + x**2) * y - 2 / (1 + x**2)

In [38]:
def RungeKutta4(f, a, b, u, N):
    h = (b - a) / N
    result = []
    grid = []
    result.append(u)
    grid.append(a)
    x = a
    for i in range(1, N + 1): 
        k1 = f(x, u)
        k2 = f(x + h / 2, u + h * k1 / 2)
        k3 = f(x + h / 2, u + h * k2 / 2)
        k4 =f(x + h, u + h * k3)
        u = u + h * (k1 + 2 * k2 + 2 * k3 + k4)/ 6
        x = x + h
        result.append(u)
        grid.append(x)
    return np.array(grid), np.array(result)

In [43]:
first_system = RungeKutta4(f1, 0.0, 4.0, 0, 20)

In [47]:
second_system = RungeKutta4(f2, 0.0, 4.0, 1, 20)

In [63]:
w = []
for i in range(4):
       w.append((2.3 - 5.49) / (0.78) * second_system[1][i])

In [64]:
print(w)

[-0.0, -1.0633333333333335, -2.126666666666667, -3.1900000000000004]

In [65]:
y = []
for i in range(4):
    y.append(first_system[1][i] + w[i])

In [66]:
print(y)

[6.0, 4.786666666666666, 3.553333333333333, 2.299999999999999]

In [73]:
data = {
    'x': [2.0 + 0.1 * i for i in range(4)],
    'y': y,
    'f1': first_system[1][:],
    'f2': second_system[1][:],
    'w': w
}

In [74]:
df = pd.DataFrame(data)
df

     x         y    f1    f2         w
0  2.0  6.000000  6.00  0.00 -0.000000
1  2.1  4.786667  5.85  0.26 -1.063333
2  2.2  3.553333  5.68  0.52 -2.126667
3  2.3  2.300000  5.49  0.78 -3.190000

In [75]:
pwd = os.getcwd()
df.to_excel(pwd + '/data/shooting_data.xlsx')