In [1]:
import os
import numpy as np
import pandas as pd
from myFunction import foo

In [2]:
def MilneSimpson(f, a, b, start_values, N):
    h = (b - a) / N
    result = start_values.copy()
    x = [a + h * i for i in range(4)]
    y = [f(x[i], start_values[i]) for i in range(4)]
    yold = 0
    pold = 0
    for i in range(3, N):
        pnew = result[i - 3] + 4 * h / 3 * (2 * y[i - 2] - y[i - 1] + 2 * y[i])
        pmod = pnew + 28 * (yold - pold) / 29
        x.append(a + h * (i + 1))
        y.append(foo(x[i + 1], pmod))
        u = result[i - 1] + h / 3 * (y[i - 1] + 4 * y[i] + y[i + 1])
        result.append(u)
        yold = u
        pold = pnew
    return np.array(x), np.array(result)

### Extract first 4 points using Taylor method

In [3]:
pwd = os.getcwd()

In [4]:
taylor_data = pd.read_excel(pwd + '/data/taylor_data/taylor_h2.xlsx')

In [5]:
taylor_data['y'][:4].to_frame()

            y
0   10.000000
1  188.968750
2  489.175049
3  989.233870

In [6]:
start_values = taylor_data['y'][:4].tolist()

In [7]:
a = 16
b = 19
n = 6

### Get results using Milne-Simpson predictor-corrector method

In [8]:
x, y = MilneSimpson(foo, a, b, start_values, n)

In [9]:
data = {
    'x': x,
    'y': y
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

      x            y
0  16.0    10.000000
1  16.5   188.968750
2  17.0   489.175049
3  17.5   989.233870
4  18.0  1823.330158
5  18.5  3196.513085
6  19.0  5469.217454

In [169]:
df.to_excel(pwd + '/data/milne-simpson_data/ms_h2.xlsx')