In [1]:
import os
import pandas as pd
import numpy as np
from myFunction import foo

In [2]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
def RungeKutta4(f, a, b, u, N):
    h = (b - a) / N
    result = []
    grid = []
    result.append(u)
    grid.append(a)
    x = a
    for i in range(1, N + 1): 
        k1 = f(x, u)
        k2 = f(x + h / 2, u + h * k1 / 2)
        k3 = f(x + h / 2, u + h * k2 / 2)
        k4 =f(x + h, u + h * k3)
        u = u + h * (k1 + 2 * k2 + 2 * k3 + k4)/ 6
        x = x + h
        result.append(u)
        grid.append(x)
    return np.array(grid), np.array(result)

In [4]:
a = 8
b = 11
n = 12
u = 5

In [5]:
x, y = RungeKutta4(foo, a, b, u, n)

In [6]:
data = {
    'x': x,
    'y': y
}

In [7]:
df = pd.DataFrame(data)

In [8]:
df

          x              y
0   8.00000        5.00000
1   8.25000       49.14795
2   8.50000      202.81686
3   8.75000      735.26358
4   9.00000     2577.71187
5   9.25000     8950.79549
6   9.50000    30993.06368
7   9.75000   107227.14554
8  10.00000   370883.40327
9  10.25000  1282738.52410
10 10.50000  4436386.88094
11 10.75000 15343268.38756
12 11.00000 53064676.45659

In [9]:
pwd = os.getcwd()

In [10]:
df.to_excel(pwd + '/data/runge-kutta_data/rk_h3.xlsx')