In [1]:
import os
import numpy as np
import pandas as pd
from myFunction import foo

In [2]:
def taylor(f, a, b, u, N):
    h = (b - a) / N
    grid = []
    result = []
    grid.append(a)
    result.append(u)
    x = a
    for i in range(1, N + 1):
        df = [foo(x, u), foo(x, u), foo(x, u), foo(x, u)]
        u = u + h * (df[0] + h * (df[1] / 2 + h * (df[2] / 6 + h * df[3] / 24)))
        x += h
        result.append(u)
        grid.append(x)
    return  np.array(grid), np.array(result)

In [3]:
a = 16
b = 19
n = 6
u = 10

In [4]:
x, y = taylor(foo, a, b, u, n)

In [5]:
data = {
    'x': x,
    'y': y
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

      x              y
0  16.0      10.000000
1  16.5     125.421875
2  17.0     617.656860
3  17.5    2708.403712
4  18.0   11580.337623
5  18.5   49219.338511
6  19.0  208893.631339

In [8]:
pwd = os.getcwd()

In [64]:
df.to_excel(pwd + '/data/taylor_data/taylor_h3.xlsx')

In [65]:
from derevatives import secondDer, thirdDer, fourthDer