In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
pd.set_option("display.precision", 8)

# Функции

In [3]:
def foo1(x, y):
    return y - 4 * x**3

In [4]:
def foo2(x, y):
    return x**2 + y**2 - 1

In [18]:
def foo_x(y):
    return math.sqrt(y) / 4

In [19]:
def foo_y(x):
    return math.sqrt(9 - x**2)

# Метод простых итераций

In [22]:
x = [1]
y = [3]
e = 0.000001
i = 0
errorsX = [0]
errorsY = [0]
while True:
    x.append(foo_x(y[i]))
    y.append(foo_y(x[i]))
    errorsX.append(abs(x[i + 1] - x[i]))
    errorsY.append(abs(y[i + 1] - y[i]))
    if max(abs(x[i + 1] - x[i]) <= e, abs(y[i + 1] - y[i])) <= e:
        break
    i += 1

In [23]:
data = {'x': x,
        'y': y,
        'e(x)': errorsX,
        'e(y)': errorsY
        }
df = pd.DataFrame(data)
df.index = np.arange(1, len(df) + 1)
df.replace(0, np.nan, inplace=True)

In [13]:
df

             a           b           x
0   0.00000000 -0.33333333 -0.33333333
1  -0.33333333 -3.00000000 -3.00000000
2  -3.00000000 -0.36263736 -0.36263736
3  -0.36263736 -0.39058850 -0.39058850
4  -0.39058850 -1.03362527 -1.03362527
5  -1.03362527 -0.55908218 -0.55908218
6  -0.55908218 -0.64003814 -0.64003814
7  -0.64003814 -0.70590740 -0.70590740
8  -0.70590740 -0.69235794 -0.69235794
9  -0.69235794 -0.69334332 -0.69334332
10 -0.69334332 -0.69336130 -0.69336130

# Метод Ньютона

In [5]:
x = [1]
y = [1]
i = 0
e = 0.000001
errorsX = [0]
errorsY = [0]
while True:
    f1 = foo1(x[i], y[i])
    f2 = foo2(x[i], y[i])
    j = np.matrix([[-12 * x[i]**2, 1], 
                   [2 * x[i], 2 * y[i]]])

    mX = np.matrix([[f1, 1],
                  [f2, 2 * y[i]]])
    
    mY = np.matrix([[-12 * x[i]**2, f1],
                   [2 * x[i], f2]])
    
    determinantMX = np.linalg.det(mX)
    determinantMY = np.linalg.det(mY)
    determinantJ = np.linalg.det(j)
    x.append(x[i] - 1 / determinantJ * determinantMX)
    y.append(y[i] - 1 / determinantJ * determinantMY)
    errorsX.append(abs(x[i + 1] - x[i]))
    errorsY.append(abs(y[i + 1] - y[i]))
    if max(abs(x[i] - x[i + 1]), abs(y[i] - y[i + 1])) <= e:
           break
    i += 1

In [6]:
data = {'x': x,
        'y': y,
        'e(x)': errorsX,
        'e(y)': errorsY
       }
df = pd.DataFrame(data)
df.index = np.arange(1, len(df) + 1)
df.replace(0, np.nan, inplace=True)

In [7]:
df

            x           y            e(x)            e(y)
1  1.00000000  1.00000000             NaN             NaN
2  0.73076923  0.76923077  2.69230769e-01  2.30769231e-01
3  0.61206054  0.80027326  1.18708691e-01  3.10424869e-02
4  0.58805228  0.80922871  2.40082556e-02  8.95545519e-03
5  0.58711228  0.80950611  9.40009384e-04  2.77395506e-04
6  0.58711087  0.80950653  1.40390540e-06  4.24909875e-07
7  0.58711087  0.80950653  3.12960768e-12  9.40914013e-13

# Метод Зейделя

In [24]:
x = [1]
y = [3]
i = 0
e = 0.000001
errorsX = [0]
errorsY = [0]
while True:
    x.append(foo_x(y[i]))
    y.append(foo_y(x[i + 1]))
    errorsX.append(abs(x[i + 1] - x[i]))
    errorsY.append(abs(y[i + 1] - y[i]))
    if max(abs(x[i] - x[i + 1]), abs(y[i] - y[i + 1])) <= e:
           break
    i += 1

In [25]:
data = {'x': x,
        'y': y,
        'e(x)': errorsX,
        'e(y)': errorsY
       }
df = pd.DataFrame(data)
df.index = np.arange(1, len(df) + 1)
df.replace(0, np.nan, inplace=True)

In [26]:
df

            x           y        e(x)        e(y)
1  1.00000000  3.00000000         NaN         NaN
2  0.43301270  2.96858552  0.56698730  0.03141448
3  0.43073959  2.96891620  0.00227311  0.00033068
4  0.43076358  2.96891272  0.00002399  0.00000348
5  0.43076333  2.96891276  0.00000025  0.00000004