In [219]:
import os
import numpy as np
import pandas as pd

In [235]:
A = np.array([
    [4.30, 4.62, 4.10, 1.90],
    [3.92, 8.45, 5.78, 2.46],
    [3.77, 9.21, 8.04, 2.28],
    [2.21, 1.65, 1.69, 1.19]
])

x = np.ones(len(A)).T
alpha = 0.5
e = 10e-6

In [236]:
i = 0
l = 0
I = np.identity(len(A)) * alpha
A = A - I
A = np.linalg.inv(A)
error = 0
Lambdas = []
Vectors = np.array(x)
Errors = []
while True:
    y = np.dot(A, x)
    c = np.max(np.absolute(y))
    y = (1 / c) * y
    x = y
    error = abs(l - c)
    l = c
    Lambdas.append(l)
    Vectors = np.vstack((Vectors, x))
    Errors.append(error)
    if error < e:
        break
    i += 1

In [237]:
l = alpha + 1 / l
Lambdas[-1] = l

In [238]:
data = {
    'lambda': Lambdas,
    'u1': Vectors[1:, 0],
    'u2': Vectors[1:, 1],
    'u3': Vectors[1:, 2],
    'u4': Vectors[1:, 3],
    'errors': Errors
}

In [239]:
df = pd.DataFrame(data)

In [240]:
df.index = np.arange(1, len(df) + 1)
pd.set_option('display.float_format', lambda x: '%.7f' % x)

In [241]:
df

      lambda         u1         u2         u3         u4    errors
1  1.3713959  0.6264691  0.2665116 -0.2396786 -1.0000000 1.3713959
2  5.0579112 -0.3557540 -0.2885514  0.2216663  1.0000000 3.6865153
3  4.2938126  0.3698303  0.2523003 -0.1838622 -1.0000000 0.7640985
4  4.3252516 -0.3740230 -0.2652682  0.2030077  1.0000000 0.0314390
5  4.3423680  0.3714971  0.2614403 -0.1965065 -1.0000000 0.0171164
6  4.3333226 -0.3723903 -0.2624642  0.1983898  1.0000000 0.0090454
7  4.3364169  0.3721257  0.2622073 -0.1978903 -1.0000000 0.0030944
8  4.3355149 -0.3721968 -0.2622685  0.1980147  1.0000000 0.0009020
9  4.3357548  0.3721789  0.2622545 -0.1979852 -1.0000000 0.0002398
10 4.3356949 -0.3721832 -0.2622576  0.1979919  1.0000000 0.0000598
11 4.3357091  0.3721822  0.2622570 -0.1979905 -1.0000000 0.0000142
12 0.7306430 -0.3721824 -0.2622571  0.1979908  1.0000000 0.0000032

In [242]:
pwd = os.getcwd()

In [243]:
df.to_excel(pwd + '/data/reverse.xlsx')